In [1]:
import bs4
import urllib.request as url

In [2]:
http = url.urlopen("http://stats.espncricinfo.com/ci/content/records/223646.html")

In [3]:
page = bs4.BeautifulSoup(http)

In [4]:
table = page.find('table', class_='engineTable')

In [24]:
tr = table.findAll('tr')

In [30]:
x = tr[1].text.split("\n")

In [34]:
del x[0]
del x[-1]

In [35]:
x

['SR Tendulkar (INDIA)',
 '1989-2013',
 '200',
 '329',
 '33',
 '15921',
 '248*',
 '53.78',
 '51',
 '68',
 '14']

In [27]:
len(tr)

97

In [36]:
data = []
for i in range(len(tr)):
    x = tr[i].text.split("\n")
    del x[0]
    del x[-1]
    data.append(x)

In [53]:
for i in range(1,len(data)):
    for j in range(len(data[i])):
        if j == 0 or j== 1 or j == 6:
            continue
        else:
            data[i][j] = float(data[i][j])

In [54]:
import pandas as pd

In [55]:
df = pd.DataFrame(data)

In [56]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0
1,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14
2,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
3,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16
4,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8

In [57]:
df.columns = df.iloc[0,:]

In [58]:
df.drop(0, inplace=True)

In [59]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0
1,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14
2,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
3,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16
4,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8
5,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9

In [61]:
df[df['100'] > 40]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0
1,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14
2,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
3,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16